td {
	display: inline-block;
	min-width: 15px;
	min-height: 15px;
	max-width: 15px;
	max-height: 15px;
	border: none;
	font-family: "DejaVu Sans Mono", monospace;
}

tr {
	display: block;
	max-height: 15px;
}

#spacer {
	min-width: 45px;
	min-height: 15px;
}

p {
	max-width: 400px;
}

body {
	padding-left: 25%;
}